* {
  box-sizing: border-box;
}

input,
select {
  width: 50%;
  min-width: 200px;
  margin-bottom: 5px;
}

.title {
  width: 100%;
  text-align: center;
}

.layout {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "info info profiles profiles"
    "info info profiles profiles"
    "info info settings settings"
    "info info settings settings"
    "pdfs pdfs pdfs pdfs"
    "pdfs pdfs pdfs pdfs"
    "pdfs pdfs pdfs pdfs";
  width: 80%;
  margin: auto;
}

.info {
  grid-area: info;
}

.profiles {
  grid-area: profiles;
}

.settings {
  grid-area: settings;
}

.pdfs {
  grid-area: pdfs;
}

.container {
  display: grid;
}

.profiles button {
  width: 70px;
}

.directory-button {
  position: absolute;
  width: 90px;
}

.directory-input {
  transform: translateX(90px);
}
