input,
select {
  width: 50%;
  min-width: 200px;
}

.title {
  width: 100%;
  text-align: center;
}

.layout {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'info info profiles profiles'
    'info info profiles profiles'
    'info info profiles profiles'
    'info info profiles profiles'
    'pdfs pdfs pdfs pdfs'
    'pdfs pdfs pdfs pdfs'
    'pdfs pdfs pdfs pdfs';
  width: 80%;
  margin: auto;
}

.info {
  grid-area: info;
}

.profiles {
  grid-area: profiles;
}

.pdfs {
  grid-area: pdfs;
}

.container {
  display: grid;
}