.info {
  grid-area: info;
}

.profiles {
  grid-area: profiles;
}

.pdfs {
  grid-area: pdfs;
}

.layout {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'info info profiles profiles'
    'info info profiles profiles'
    'info info profiles profiles'
    'info info profiles profiles'
    'pdfs pdfs pdfs pdfs'
    'pdfs pdfs pdfs pdfs'
    'pdfs pdfs pdfs pdfs';
}

.container {
  display: grid;
}